html
{ height: 100%;}

body
{ font: normal 100% Georgia, serif;
  background: #1D1D1D;
  color: #000;
}

p
{ padding: 0 0 15px 0;
  line-height: 1.6em;
  font-size: 100% }

h1, h2, h3
{ font: normal 165% Georgia, serif;
  color: #000;
  letter-spacing: -1px;
  margin: 0 -5px -5px 0;
  padding: 5px 3 3 3;}

h2
{ font: normal 165% Georgia, serif;}

h3
{ font: normal 100% Georgia, serif;
}

h3 a, h3 a:hover
{ color: olivedrab;
}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: none;
  color: olivedrab;
}

a:hover
{ text-decoration: underline;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}

#header
{ width: 1170px;
  padding: 50px 0 0 0;
  background: transparent;}

#welcome
{ width: 345px;
  float: left;
  height: 35px;
  padding: 10px 0 10px 20px;
  margin: 0 auto;
  background: transparent;} 
  
#welcome H1
{ font: normal 190% times, Georgia, sans-serif;
  color: #FFF;}
  
span
{ color: olivedrab;}

ul#menu
{ 
  margin: 0;
  float: right;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font: normal 120% Georgia, serif;
  float: left;
  letter-spacing: -1px;
  height: 30px;
  width: 125px;
  padding: 5px 0 0 0;
  margin-top: 15px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover
{ color: olivedrab;
  text-decoration: underline;}
  
ul#menu li.current a
{ color: #FFF;
  text-decoration: underline;}

#content
{ width: 1165px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background: #FFF;} 
  
.sidebar_container
{ float: left;
  width: 230px;
  padding: 0;
  margin: 0 10px 0 20px;}

.sidebar
{ float: left;
  width: 230px;
  padding: 0;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  padding: 0 15px 0 0;
  width: 201px;}

.sidebar ul li, .sidebar ul li.selected
{ list-style: none; 
  margin: 15px 0; 
  padding: 0;}

.sidebar li.selected, .sidebar li:hover
{ color: #5D5D5D;
  text-decoration: none;} 


.img {
  list-style: none;
}
 
ul img {
  border: none;}

selector + [data-readmore-toggle], selector[data-readmore] {
  display: block;
  width: 100%;
}

article {
  width: 100%;
}
