body {
  margin: 20px;
}

* {
  box-sizing: border-box;
}

#wrapper {
  border: 2px dotted slategray;
  width: 800px;
  margin: 0 auto;
}

header, nav, article {
  margin: 10px;
}

header {
  background-color: whitesmoke;
  padding: 15px;
}

h1, h3 {
  margin: 0;
}

nav {
  margin: 10px;
}

nav > a {
  display: inline-block;
  padding: 10px 25px;
  background-color: slategray;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.article-copy {
  display: block;
}

img {
  float: left;
  padding: 10px;
  margin-right: 15px;
  border: 1px dashed black;
}

footer {
  border: 1px dashed black;
  padding: 10px;
}

footer h4 {
  margin: 0 0 5px 0;
}

footer a {
  color: darkgrey;
  padding-right:5px;
}
